.profile {
  background-color: #ecf0f1;
  width: 270px;
  margin-top: 20px;
  padding: 8px 4px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.row {
  display: flex;
  justify-content: space-between;
}
